
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/*Master styles*/
* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family:'Lato', sans-serif;
    line-height: 1.3;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Main */
/* .main {
    scroll-behavior: smooth;
} */

/*Nav styles*/
.nav-wrapper-static {
    background: linear-gradient(to right, #136a8a, #267871);
    width: 100%;
}

.nav-wrapper{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
    color: rgb(233, 230, 230);
}

.left-side{
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-side div{
    margin-right: 15px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.right-side {
    display: none;
}

.nav-link-wrapper{
    width: 60px;
    text-align: center;
    height: 23px;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #a3a1a1;
    transition: 0.5s;
}

.nav-link-wrapper a:hover {
    color: #fff !important;
    font-weight: 600;
}

.active-nav-link a{
    color: #fff !important;
    font-weight: 600;
}

.right-side h1 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
}

/*Portfolio styles*/
.portfolio-items-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
}

.portfolio-item-wrapper{
    position: relative;
}

.portfolio-img-background{
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper{
    position: absolute;
    top:0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px;
    height: 300px;
    width: 100%;
}

.img-text-wrapper .subtitle{
    transition: 1s;
    color:transparent;
    font-weight: 600;
    text-align: center;
    width: 300px;
    position: relative;
}

.img-text-wrapper:hover .subtitle{
    color:rgb(201, 201, 201);
    font-weight: 550;
}

.img-darken{
    transition: 1s;
    filter: brightness(15%);
}

/* Scroll Button */
.scroll-btn {
    display: none;
}

.menu {
    display: none;
}

/*About page styles*/

.container {
    background: linear-gradient(to right, #136a8a, #267871);
}

.two-column-wrapper{
    max-width: 90%;
    width: 1000px;
    margin: auto;
    height: 600px;
}

/* .profile-image-wrapper img{
    width:100%;
    height: 100%;
} */

.profile-content-wrapper {
    padding: 30px;
    width: 700px;
    margin: auto;
    color: rgb(238, 236, 236);
}

.profile-content-wrapper p {
    padding: 20px 0;
    font-size: 1.5rem;
}

.nav-right-side h1 {
    font-size: 2rem;
    font-weight: 700;
}

h1#h1 {
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.home-icon {
    display: none;
}

/* Keyframes */

@keyframes roll-in {
    0% {
        right: -400px;
    }

    100% {
        right: 0;
    }
}

@keyframes nice-up {
    0% {
        top: 85%;
    }

    50% {
        top: 84%;
    }

    100% {
        top: 83%;
    }
}

/* Media Queries */
@media(max-width:550px){
    .nav-wrapper-static {
        z-index: 100;
        position: fixed;
        height: 75px;
    }

    .right-side{
        display: flex;
        order: 2;
        width: 30px;
        height: 30px;
        background: url('https://i.ibb.co/gwPtf1G/menu.png');
        background-repeat: no-repeat;
        background-size: 25px;
        background-position: center;
    }

    .right-inner {
        background: url('https://i.ibb.co/hFRMV2z/close.png');
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: center;
    }

    .left-side {
        display: none;
    }

    .mid-side h1{
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: 8px;
    }

    .portfolio-items-wrapper {
        grid-template-columns:  1fr; 
        position: relative;
        top: 60px;
    }

    .scroll-btn.top {
        top: 15%;
    }

    .scroll-btn {
        background: rgb(235, 230, 230);
        width: 35px;
        height: 35px;
        border-radius: 50%;
        box-shadow: 0 4px 10px rgb(165, 164, 164);
        position: fixed;
        top: 85%;
        right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: nice-up 2s linear infinite;
    }

    a .scroll-btn:hover {
        animation: none;
    }

    .inner {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 250px;
        background: #fff;
        opacity: 0.85;
        display: flex;
        align-items: center;
        justify-content: center;
        right: -400px;
        transition: 1s;
    }

    .menu {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 250px;
        background: #fff;
        opacity: 0.85;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: roll-in 0.6s ;
    }

    .in-n {
        font-size: 1.5rem;
    }

    .in-n  a {
        color: #555;       
        font-weight: 500;
    }

    .in-n a:hover {
        font-weight: 600;
    }

    /* About Page styles */
    .about-nav {
        display: none;
    }

    .two-column-wrapper {
        display: block;
    }

    .two-column-wrapper img {
        border-radius: 20px;
        width: 80px;
        height: 80px;
    }

    .profile-content-wrapper {
        padding: 30px 0;
        width: 350px;
        margin: auto;
        color: rgb(238, 236, 236);
    }

    .two-column-wrapper{
        width: 350px;
        height: 1000px;
    }

    .profile-content-wrapper p {
        padding: 15px 0;
        line-height: 1.5;
    }
    
    h1#h1 {
        font-size: 1.2rem;
        padding: 0 0 10px 0;
        width: 250px;
        margin: auto;
    }

    .home-icon {
        display: block;
        padding: 15px 0;
    }

    .home-icon a {
        color: rgb(238, 236, 236);
    }

    .home-icon i {
        margin: 0 20px;
        font-size: 1.5rem;
    }
}
